<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Condensed&family=Barlow:wght@200;400&family=Dancing+Script&family=Fira+Sans&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Dra. Arely Uribe | Agendar Cita</title>
</head>
<body>
    <div class="booking-bg">
        <div class="navbar-background">
            <div class="nav-bar">
                <div class="logo">
                    <img src="/../static/img/Arely's_Logo.png" class="navbar-logo" alt="Logo_img">
                </div>
                <div class="nav-links">
                    <a href="/" class="btn-return">Regresar</a>
                </div>
            </div>
        </div>
        <h1 class="block-title">Agendar una cita</h1>
    
        <form id="bookingForm">
            <label for="patientName">Nombre:</label>
            <input type="text" id="patientName" required>
    
            <label for="appointmentDate">Fecha:</label>
            <input type="date" id="appointmentDate" required>
    
            <label for="appointmentTime">Hora:</label>
            <input type="time" id="appointmentTime" required>
    
            <button type="button" onclick="bookAppointment()">Book Appointment</button>
        </form>
    
        <div id="confirmationMessage"></div>
    </div>

    <script>
        function bookAppointment() {
    // Fetch user input
    const patientName = document.getElementById("patientName").value;
    const appointmentDate = document.getElementById("appointmentDate").value;
    const appointmentTime = document.getElementById("appointmentTime").value;

    // You need to send this data to the server for further processing (Step 4).
    // For simplicity, let's just display a confirmation message for now.
    const confirmationMessage = `Appointment booked for ${patientName} on ${appointmentDate} at ${appointmentTime}.`;
    document.getElementById("confirmationMessage").innerHTML = confirmationMessage;
}
    </script>
</body>
</html>