<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Condensed&family=Barlow:wght@200;400&family=Dancing+Script&family=Fira+Sans&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Dra. Arely | Confirmación</title>
</head>
<body>
    <div class="booking-bg">
        <div class="navbar-background">
            <div class="nav-bar">
                <div class="logo">
                    <img src="/../static/img/Arely's_Logo.png" class="navbar-logo" alt="Logo_img">
                </div>
                <div class="nav-links">
                    <a href="/" class="btn-return">Regresar</a>
                </div>
            </div>
        </div>
        <div class="appointment-confirmation-container">
            <div class="appointment-info">
                <h1>Cita agendada!</h1>
                <p>
                    Gracias por haber agendado.<br>
                    En caso de requerir informacion adicional o para aclaraciones, la Dra. Arely se comunicara con usted.</p>
                <div class="appointment-info-block">
                <h3>
                    Los datos de la cita agendada son los siguientes:
                </h3>
                <ul>
                    {% for detail in details %}
                        <li><strong>Nombre:</strong> {{ detail.name }}</li>
                        <li><strong>Email:</strong> {{ detail.email }}</li>
                        <li><strong>Teléfono:</strong> {{ detail.phone }}</li>
                        <li><strong>Fecha de Cita:</strong> {{ detail.date.strftime('%m/%d/%Y') }} {{ detail.time.strftime('%H:%M') }}</li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            <div class="map-block">
                <h3>Ubicación de la clínica</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d107634.6380742998!2d-117.0108172220459!3d32.53729747386612!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d949ac8fe737d5%3A0xb7091e6ad65ed707!2sDental%20Spa%20By%20K%26F!5e0!3m2!1sen!2smx!4v1703282651593!5m2!1sen!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</body>
</html>
