<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Home | Endodoncias</title>
</head>
<body>
    <div class="main-bg">
        <div class="nav-links">
            <a href="###">Educación</a>
            <a href="###">Preguntas Frecuentes</a>
        </div>
        <div class="content">
            <div class="text-container">
                <div class="title">
                    <h1>Dra. Arely Uribe</h1>
                    <h2>Cirujano Dental | Especialista en Endodoncia</h2>
                </div>
                <div class="introduction-container">
                    <p>
                        Cirujano Dentista con formación en Odontología y
                        especialización en Endodoncia. Con una sólida
                        trayectoria en carrera profesional como Endodoncista, y
                        con experiencia en multiples consultorios dentales, he
                        demostrado habilidades eficaces en procedimientos dentales,
                        siempre brindando la mejor atención al paciente.
                    </p>
                </div>
                <div class="main-btn-container">
                    <a href="###" class="main-btn">Agendar Cita</a>
                </div>
            </div>
            <img src="/../static/img/arely_pic.jpeg" class="main-img" alt="img">
        </div>
    </div>
</body>
</html>