<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Condensed&family=Barlow:wght@200;400&family=Dancing+Script&family=Fira+Sans&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Dra. Arely Uribe | Endodoncias</title>
</head>
<body>
    <div class="main-bg">
        <div class="navbar-background">
            <div class="nav-bar">
                <div class="logo">
                    <img src="/../static/img/Arely's_Logo.png" class="navbar-logo" alt="Logo_img">
                </div>
                <div class="nav-links">
                    <a href="#location-block" class="scroll-link">Ubicación</a>
                    <a href="#faq-block" class="scroll-link">Preguntas Frecuentes</a>
                    <a href="#resume-block" class="scroll-link">CV</a>
                </div>
            </div>
        </div>
        <div class="content-background">
            <div class="content">
                <div class="text-container">
                    <div class="title">
                        <h1>Dra. <span class="title-color2">Arely Uribe</span></h1>
                        <h2>Cirujano Dental | Especialista en Endodoncia</h2>
                    </div>
                    <div class="introduction-container">
                        <p>
                            Cirujano Dentista con formación en Odontología General y
                            Especialización en Endodoncia. Con una sólida
                            trayectoria en carrera profesional como Endodoncista, y
                            con experiencia en multiples consultorios dentales. He
                            demostrado habilidades eficaces y actualizaciones en procedimientos dentales,
                            siempre brindando la mejor atención al paciente.
                        </p>
                    </div>
                    <div class="main-btn-container">
                        <a href="/booking_form" class="main-btn">Agendar Cita</a>
                    </div>
                </div>
                <div class="video-container">
                    <video autoplay loop muted>
                        <source src="/../static/video/DrArely'sWebsiteVideo.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        <div class="location-block-background">
            <div class="location-block" id="location-block">
                <h1>Ubicación</h1>
                <h3>Dental Spa</h3>
                <p>Av. Francisco I. Madero 1500-3, Zona Centro, 22000 Tijuana, B.C.</p>
                <a href="https://maps.app.goo.gl/r7vp8ngtC2za1eUq5" target="_blank">Ver en Google Maps</a>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9761.769295202335!2d-117.03916462483072!3d32.52963982831688!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d949ac8fe737d5%3A0xb7091e6ad65ed707!2sDental%20Spa%20By%20K%26F!5e0!3m2!1sen!2smx!4v1702682487881!5m2!1sen!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="faq-block-backgound">
            <div class="faq-block" id="faq-block">
                <h1>Preguntas Frecuentes</h1>
                <div class="faq-container">
                    <h2>¿Qué es y para qué sirve una Endodoncia?</h2>
                    <p>
                        De acuerdo con la Asociacion Americana de Endodoncia, la Endodoncia es una especialidad 
                        y ciencia de la odontologia,que estudia la histo fisio y patalogia de las cavidades dentarias coronal 
                        y radicular ,que contiene la pulpa dental y a su vez , trata las 
                        afecciones del complejo dentino pulpar y de la region periapical. 
                        Con la finalidad de conservar el diente original en boca.
                    </p>
                    <h2>¿Cuándo es necesario realizar una Endodoncia?</h2>
                    <p>
                        Esencialmente cuando hay dolor a los cambios termicos por frio o calor, este puede ser provocado o espontaneo. 
                        Cuando la caries perfora el esmalte , dentina y se comunica con el tejido pulpar.
                        En casos donde el tejido pulpar resulte estar infectado.
                        En casos donde ya exista un tratamiento previo de endodoncia y se necesite rehacer porque este se haya contaminado.
                        En caso de roptura por traumatismo o ante la existencia de una enfermedad 
                        periodontal.
                    </p>
                    <h2>¿Qué sintomas puede indicar la necesidad de una Endodoncia?</h2>
                    <p>
                        Cada caso es diferente, pero los síntomas  más frecuentes son un 
                        dolor intenso a los cambios termicos por frío o al calor. 
                        Dolor a la masticación o al palpar la encía.
                        Si se sospecha de infección en un diente.
                        A veces no se producen 
                        síntomas y el problema se detecta en la consulta del odontólogo cuando se 
                        realiza una revisión del estado general de la dentadura.
                    </p>
                    <h2>¿Es dolorosa la Endodoncia?</h2>
                    <p>
                        En la actualidad el tratamiento de Endodoncia es un tratamiento indoloro, 
                        gracias a las técnicas de anestesia. Y hemos conseguido poder trabajar sobre los dientes con el paciente 
                        relajado sin necesidad de sufrir ningú tipo de dolor durante el tratamiento.
                    </p>
                    <h2>¿Qué cuidados hay que seguir tras un tratamiento de Endodoncia?</h2>
                    <p>
                        Posterior al tratamiento  se recomendará el uso de medicamentos antiinflamatorios. 
                        A la hora de comer lo ideal es no usar la zona tratada durante los primeros 
                        días.En cuanto al lavado de los dientes, la práctica de una endodoncia no altera 
                        su cuidado habitual, aunque es aconsejable familiarizarse con el uso 
                        de la seda dental.
                    </p>
                    <h2>¿Existe alguna alternativa a una Endodoncia?</h2>
                    <p>
                        Partiendo de la base de que la endodoncia permite mantener la forma natural del 
                        diente, en caso de que se prefiera recibir otro tratamiento, la alternativa  al 
                        tratamiento de Endodoncia es la extracción dental. No obstante, los profesionales 
                        suelen preferir mantener el diente original en boca.
                    </p>
                </div>
            </div>
        </div>
        <div class="resume-block-background">
            <div class="resume-block" id="resume-block">
                <h1>Mi Currículum</h1>
                <a href="/../static" class="cv-link" onclick="openPdf()">Abrir en PDF</a>
                <img src="/../static/img/cv_arely.png" alt="CV">
            </div>
        </div>
        <div class="endbar-background">
        </div>
    </div>

    <script>
        // .................Open PDF in new tab.............................
        function openPdf() {
            var pdfUrl = '/../static/documents/arely_cv.pdf';
            window.open(pdfUrl, '_blank');
            event.preventDefault();
        }
        //...............Smooth scrolling effect..................
        document.addEventListener('DOMContentLoaded', function() {
            var scrollLinks = document.querySelectorAll('.scroll-link');

            scrollLinks.forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault();

                    var targetID = this.getAttribute('href').substring(1);
                    document.getElementById(targetID).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        });
    </script>
</body>
</html>